<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resource/css/bootstrap.css">
    <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/css/style.css">
</head>
<body>
    <h1>Danh Sach Thanh Pho</h1>
    <a href="/create-city">Create new city</a>
    <table class="table table-hover" border="1">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="city : ${cities}">
            <tr>
                <td th:text="${city.id}"></td>
                <td><a th:href="@{/view-city/__${city.id}__ }" th:text="${city.name}"></a></td>
                <td th:if="${city.country}" th:text="${city.country.name}"></td>
                <td th:unless="${city.country}"></td>
                <td><a th:href="@{/edit-city/__${city.id}__ }">Edit</a></td>
                <td><a th:href="@{/delete-city/__${city.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>